@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #303030;
}

h1, h2, a {
    color: aliceblue;
    font-family: "Roboto";
}

h1 {
    font-size: 40px;
}

.container {
    margin: auto;
    align-items: center;
    margin-top: 100px;
    width: 500px;
    text-align: center;
    border: 4px solid white;
    border-radius: 8px;
}

.optioncontainer {
    padding-top: 100px;
    margin: auto;
    align-items: center;
    width: 500px;
    text-align: center;
}

.signup {
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
}

.signin {
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
}

a {
    padding-left: 20px;
    padding-right: 20px;
}

.error, .success  {
    color: aliceblue;
    font-family: "Roboto";
    align-items: center;
    margin: auto;
    text-align: center;
}

.error {
    padding-top: 5px;
    color: rgb(219, 91, 91);
}

.signdiv {
    padding: 50px;
}

.options {
    padding-top: 30px;
}

p {
    list-style: none;
    color: aliceblue;
    font-family: "Roboto";
}

ul {
    font-size: 16px;
    text-align: justify;
    text-justify: distribute-all-lines; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    align-items: center;
    margin: auto;
    text-align: center;
    list-style: none;
}

.home {
    align-items: center;
    text-align: center;
    color: aliceblue;
    font-family: "Roboto";
}

.sign:hover {
    box-shadow: 0 0 20px #10A37F; 
}

.sign {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #10A37F;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.optionlinks:hover {
    box-shadow: 0 0 20px #10A37F; 
}

.optionlinks {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #10A37F;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}